/* Update the Field.css */
.Field {
    position: absolute;
    left: 0; /* Adjust the sidebar width */
    top: 11rem;
    right: 0;
    bottom: 0;
    display: flex; /* Display the Field horizontally */
  }