/* ColorPicker.css */
.SideBarButton {
    display: flex;
    align-items: center; /* Center the content vertically */
    height: 10px;
    border-radius: 10px;
    padding: 2%;
    color: white;
    cursor: pointer;
    margin: 5px;
  }
  
  .SideBarButton-Name {
    margin-left: 1px; /* Add margin or adjust as needed */
    color: black;
  }
  